<div class="header">
    <div class="container">

        <div class="navbar">

            <div class="logo">
                <img src="/images/nandilogo.png" width="125px">
            </div>

            <nav>

                <ul id="MenuItems">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="#">Account</a></li>
                </ul>

            </nav>

            <a href="/cart"><img src="/images/cart.png" width="30px" height="30px"></a>
            <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">

        </div>

        <div class="row">

            <div class="col-2">
                <h1>Welcome To My Store, <br>Shop All The Latest Styles</h1>
                <p>Great High Fashion at an Affordable Price, <br>Trendy outfits for everyone trust me Nandi to deliver
                    you what you need to look good </p>
                <a href="/products" class="btn">Shop Now &#8594;</a>
            </div>

            <div class="col-2">

                <img src="/images/hiclipart.com.png">

            </div>

        </div>

    </div>

    {{!-- catagories --}}

    <div class="catagories">

        <div class="small-container">

            <div class="row">

                <div class="col-3">

                    <img src="/images/category-1.jpg">

                </div>
                <div class="col-3">
                    <img src="/images/category-2.jpg">
                </div>
                <div class="col-3">
                    <img src="/images/category-3.jpg">
                </div>

            </div>
        </div>



    </div>

    {{!-- products --}}

    <div class="small-container">

        <h2 class="title">Featured Products</h2>
        <div class="row">

            <div class="col-4">

                <img src="/images/product-1.jpg">
                <h4>Red Printed T-shirt</h4>
                <p>R200</p>
            </div>
            <div class="col-4">

                <img src="/images/product-2.jpg">
                <h4>Black & White Sneaker</h4>
                <p>R1200</p>
            </div>
            <div class="col-4">

                <img src="/images/product-3.jpg">
                <h4>Black Pants</h4>
                <p>R400</p>
            </div>
            <div class="col-4">

                <img src="/images/product-4.jpg">
                <h4>Navy Golf T-Shirt</h4>
                <p>R300</p>
            </div>

        </div>

        {{!-- Latest Products --}}

        <h2 class="title">Latest Products</h2>
        <div class="row">

            <div class="col-4">

                <img src="/images/product-5.jpg">
                <h4>Grey & White Hi-Top Sneaker</h4>
                <p>R2000</p>
            </div>
            <div class="col-4">

                <img src="/images/product-6.jpg">
                <h4>Black & White T-shirt</h4>
                <p>R200</p>
            </div>
            <div class="col-4">

                <img src="/images/product-7.jpg">
                <h4>3x Socks</h4>
                <p>R80</p>
            </div>
            <div class="col-4">

                <img src="/images/product-8.jpg">
                <h4>Black Fossil Watch</h4>
                <p>R500</p>
            </div>

        </div>

    </div>

    {{!-- Exclusive Products --}}

    <div class="small-container">
        <div class="offer">
            <div class="row">
                <div class="col-2">
                    <img src="/images/exclusive.png">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on Nandi's Store</p>
                    <h1>Smart Band 4</h1>
                    <small>The Mi Smart Band 4 features a AMOLED color full-touch
                        display with adjustable brightness, so everything is clear as can be
                    </small>
                    <a href="#" class="btn">Buy NOW &#8594;</a>

                </div>
            </div>
        </div>
    </div>

    {{!-- footer --}}


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and IOS mobile phone</p>
                    <div class="app-logo">
                        <img src="/images/play-store.png">
                        <img src="/images/app-store.png">
                        
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/images/nandilogo.png">
                    <p>Our Purpuse is to satisfy our customers and make sure they get the best experience and look good
                        to feel good</p>
                </div>
                <div class="footer-col-3">
                    <h3>Use Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><i class="fa fa-facebook-official">Facebook</li></i>
                        <li><i class="fa fa-twitter">Twitter</li></i>
                        <li><i class="fa fa-instagram">Instagram</li></i>
                        <li><i class="fa fa-youtube-play">YouTube</li></i>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright" >Copyright reserved 2020 | created by Xhanti-Lomzi Fatyela</p>
        </div>
    </div>



 