<div class="header">
    <div class="container">

        <div class="navbar">

            <div class="logo">
                <img src="/images/nandilogo.png" width="125px">
            </div>

            <nav>

                <ul id="MenuItems">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="#">Account</a></li>
                </ul>

            </nav>

            <a href="/cart"><img src="/images/cart.png" width="30px" height="30px"></a>
            <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">

        </div>


    </div>

    

    {{!-- products --}}

    <div class="small-container">

        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sorting</option>
                <option>Sort By Price</option>
            </select>
        </div>

        <div class="row">

            <div class="col-4">

                <a href="/first-item"><img src="/images/product-1.jpg"></a>
                <h4>Red Printed T-shirt</h4>
                <p>R200</p>
            </div>
            <div class="col-4">

                <a href="second-item"><img src="/images/product-2.jpg"></a>
                <h4>Black & White Sneaker</h4>
                <p>R1200</p>
            </div>
            <div class="col-4">

                <a href="/third-item"><img src="/images/puma-0.jpg"></a>
                <h4>White Stripped T-shirt</h4>
                <p>R400</p>
            </div>
            <div class="col-4">

                <a href="/fourth-item"><img src="/images/girls-pants-1.jpg"></a>
                <h4>Pink Pants</h4>
                <p>R120</p>
            </div>

        </div>

               <div class="row">

            <div class="col-4">

                <img src="/images/product-5.jpg">
                <h4>Grey High Top Sneaker</h4>
                <p>R1500</p>
            </div>
            <div class="col-4">

                <img src="/images/product-6.jpg">
                <h4>Black & White T-shirt</h4>
                <p>R250</p>
            </div>
            <div class="col-4">

                <img src="/images/product-7.jpg">
                <h4>Socks</h4>
                <p>R400</p>
            </div>
            <div class="col-4">

                <img src="/images/product-8.jpg">
                <h4>Black Watch</h4>
                <p>R800</p>
            </div>

        </div>

                <div class="row">

            <div class="col-4">

                <img src="/images/product-9.jpg">
                <h4>Black Watch with Leather Bend</h4>
                <p>R700</p>
            </div>
            <div class="col-4">

                <img src="/images/product-10.jpg">
                <h4>Black & Red Sneaker</h4>
                <p>R1200</p>
            </div>
            <div class="col-4">

                <img src="/images/product-11.jpg">
                <h4>Grey and White Shoes</h4>
                <p>R800</p>
            </div>
            <div class="col-4">

                <img src="/images/product-12.jpg">
                <h4>Black Pants</h4>
                <p>R300</p>
            </div>

        </div>

    </div>

    {{!-- footer --}}


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and IOS mobile phone</p>
                    <div class="app-logo">
                        <img src="/images/play-store.png">
                        <img src="/images/app-store.png">
                        
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/images/nandilogo.png">
                    <p>Our Purpuse is to satisfy our customers and make sure they get the best experience and look good
                        to feel good</p>
                </div>
                <div class="footer-col-3">
                    <h3>Use Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><i class="fa fa-facebook-official">Facebook</li></i>
                        <li><i class="fa fa-twitter">Twitter</li></i>
                        <li><i class="fa fa-instagram">Instagram</li></i>
                        <li><i class="fa fa-youtube-play">YouTube</li></i>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright" >Copyright reserved 2020 | created by Xhanti-Lomzi Fatyela</p>
        </div>
    </div>
