<div class="header">
    <div class="container">

        <div class="navbar">

            <div class="logo">
                <img src="/images/nandilogo.png" width="125px">
            </div>

            <nav>

                <ul id="MenuItems">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/Products">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="#">Account</a></li>
                </ul>

            </nav>

            <a href="/cart"><img src="/images/cart.png" width="30px" height="30px"></a>
            <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">

        </div>


    </div>

    {{!-- single item detailes --}}

    <div class="small-container single-product">

        <div class="row">

            <div class="col-2">
                <img src="/images/puma-0.jpg" width="100%" id="productImg">
     
               <div class="small-img-row">
                   <div class="small-img-col">
                   <img src="/images/puma-0.jpg" width="100%" class="small-img">
                   </div>
                   <div class="small-img-col">
                       <img src="/images/puma-1.jpg" width="100%" class="small-img">
                   </div>
                   <div class="small-img-col">
                       <img src="/images/puma-2.jpg" width="100%" class="small-img">
                   </div>
                   <div class="small-img-col">
                       <img src="/images/puma-3.jpg" width="100%" class="small-img">
                   </div>
               </div>

            </div>
            <div class="col-2">
                <p>Home / T-shirt</p>
                <h1>White Striped T-shirt</h1>
                <h4>R200</h4>
                <select>
                    <option>XXL</option>
                    <option>XL</option>
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>

                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add To Cart</a>
                <h3>Product Details</h3>
                <p>Give your summer wodrobe a style upgrade with the Puma
                    Men's Striped T-shirt. Team it with a denims for an evening out with the guys
                </p>
            </div>
        </div>
    </div>

    {{!-- products --}}

    </div>



</div>

{{!-- <br> --}}

{{!-- footer --}}


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and IOS mobile phone</p>
                <div class="app-logo">
                    <img src="/images/play-store.png">
                    <img src="/images/app-store.png">

                </div>
            </div>
            <div class="footer-col-2">
                <img src="/images/nandilogo.png">
                <p>Our Purpuse is to satisfy our customers and make sure they get the best experience and look good
                    to feel good</p>
            </div>
            <div class="footer-col-3">
                <h3>Use Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li><i class="fa fa-facebook-official">Facebook</li></i>
                    <li><i class="fa fa-twitter">Twitter</li></i>
                    <li><i class="fa fa-instagram">Instagram</li></i>
                    <li><i class="fa fa-youtube-play">YouTube</li></i>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright reserved 2020 | created by Xhanti-Lomzi Fatyela</p>
    </div>
</div>


